<h1>Editing microrna_patient</h1>

<%= render 'form' %>


<%= link_to 'Destroy', @microrna_patient, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to "New patient", new_microrna_patient_path %> | 
 <%= link_to "View all patients", microrna_patients_path %> 