<h1>Editing firstclassification</h1>

<%= render 'form' %>



<%= link_to 'Destroy', @firstclassification, method: :delete, data: { confirm: 'Are you sure?' } %>  |
<%= link_to 'View all classifications', firstclassifications_path %> |
<%= link_to 'new patient', new_patient_path %>
