<h1>Editing RNA form</h1>

<%= render 'form' %>


<%= link_to 'Destroy', @rna_form, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to "New RNA form", new_rna_form_path %> | 
 <%= link_to "View all RNA forms", rna_forms_path %> 